@media print {
  @page {
    size: 210mm 297mm;
    margin-top: 9mm;
    margin-bottom: 7mm;
    margin-left: 0mm;
    margin-right: 0mm;
  }

  .print-only {
    display: block;
  }
  .screen-only {
      display: none;
  }

  .main-container {
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    position: absolute;
    top: 0mm;
    left: 0mm;
  }

  .label {
    display: inline-block;
    position: relative;
    min-width: 67mm !important;
    max-width: 67mm !important;
    min-height: 35mm !important;
    max-height: 35mm !important;
    margin: 0 !important;
    margin-left: 2mm !important;
  }
         
  div {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .label-heading {
    display: flex;
    justify-content: center;
    min-height: 9.6mm !important;
    max-height: 9.6mm !important;
  }
        
  .label-content {
    display: block;
    min-height: 17mm;
    max-height: 17mm;
  }
        
  .label-footer {
    display: flex;
    justify-content: flex-end;
    min-height: 8mm;
    max-height: 8mm;
  }
}

@media screen {
  div {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .main-container {
    display: block;
    position: absolute;
    top: 0mm;
    width: 100%;
    margin-left: 0mm;
    /* border: 0.1px solid lightgray; */
  }

  .print-only {
    display: none;
  }
  
  .label {
    display: inline-block;
    position: relative;
    min-width: 30%;
    max-width: 30%;
    min-height: 35mm;
    max-height: 35mm;
    border: 0.5px solid gray;
  }
  
  .label-heading {
    display: flex;
    justify-content: center;
    min-height: 9.6mm;
    max-height: 9.6mm;
  }

  .label-content {
    display: block;
    min-height: 17mm;
    max-height: 17mm;
  }

  .label-footer {
    display: block;
    min-height: 8mm;
    max-height: 8mm;
  }

  div button {
    color:white;
    background-color: black;
    padding: 5px;
    margin:5px;
    font-size: 1em;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
  }

  .submit-yellow-button {
    background-color: #FDD017;
    color: black;
    padding: 5px;
    border-radius: 1px;
    margin:5px;
    font-size: 1em;
    display: inline-block;
  }

  /* .label-footer span {
    font-weight: bold;
    float: right;
    margin-right: 1mm;
    margin-left: 1mm;
  } */

  /* .button-div {
    display: inline-block;
  } */

  /* .buttons-group {
    position: relative;
    top: 10px;
  } */
}