.loading {
  display: flex;
  justify-content: center;
}

.loading--full-height {
  align-items: center;
  height: 100%;
}

.loading::after {
  content: '';
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-top-color: #25a31c;
  /* border-bottom-color: #25a31c; */
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}